[Desktop Entry]
Type=Application
Version=1.5
Name=Aurora Files
GenericName=File Manager
Exec=aurora-files %U
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
MimeType=inode/directory;
Actions=properties;
