set timeout=5
set default=0

menuentry "Chimera II OS — Bootstrap" {
    multiboot2 /boot/chimera2os.elf
    boot
}

menuentry "Chimera II OS — Setup" {
    multiboot2 /boot/chimera2os.elf
    boot
}

menuentry "Chimera II OS — Live / Application Center" {
    multiboot2 /boot/chimera2os.elf
    boot
}

menuentry "Chimera II OS — Hardware Diagnostics" {
    multiboot2 /boot/chimera2os.elf
    boot
}
