insmod all_video
insmod gfxterm
insmod png
insmod gfxmenu
set gfxmode=auto
set gfxpayload=keep
set timeout=8
set default=0
if [ -f /boot/grub/aurora-wayland-glass.png ]; then
  background_image /boot/grub/aurora-wayland-glass.png
fi
set menu_color_normal=light-gray/black
set menu_color_highlight=white/blue

menuentry "Chimera II OS — Koronos Kernel" {
    multiboot2 /boot/kernel.bin chm.mode=koronos chm.parallel=auto
    boot
}
menuentry "Chimera II OS — Gates Menu" {
    multiboot2 /boot/kernel.bin chm.mode=gates chm.desktop=menu
    boot
}
menuentry "Chimera II OS — Aurora Wayland Glass" {
    multiboot2 /boot/kernel.bin chm.mode=desktop chm.desktop=aurora
    boot
}
menuentry "Chimera II OS — Linux Personality" {
    multiboot2 /boot/kernel.bin chm.mode=desktop chm.desktop=linux
    boot
}
menuentry "Chimera II OS — Windows Personality" {
    multiboot2 /boot/kernel.bin chm.mode=desktop chm.desktop=windows
    boot
}
menuentry "Chimera II OS — macOS Personality" {
    multiboot2 /boot/kernel.bin chm.mode=desktop chm.desktop=macos
    boot
}
menuentry "Chimera II OS — BSD/Unix Personality" {
    multiboot2 /boot/kernel.bin chm.mode=desktop chm.desktop=bsd
    boot
}
menuentry "Chimera II OS — Safe Graphics / Diagnostics" {
    multiboot2 /boot/kernel.bin chm.mode=safe-graphics
    boot
}
menuentry "Chimera II OS — Jasper / GRUB2 Recovery" {
    configfile /boot/grub/grub.cfg
}
